{% extends "layout.html" %}

{% block header %}
    <title>Dictionary</title>
{% endblock %}

{% block body %}
    <div>
        <input id="word" type="text" >
        <span id="button" style="color: #fff; border: 1px solid #eeeeee; padding: 10px; background-color: blue;">Search</span>

        {% for word in words %}
        <div>
            <span>{{ word['word'] }}: </span>
            <span> {{ word['autoSugg'] }}</span>
        </div>
        {% endfor %}

        <a href="/dict/list">See more</a>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#button').click(function(e) {
                var word = $('#word').val();
                window.location.href = '/dict/word/' + word;
            });
        });
    </script>
{% endblock %}
