{% extends "layout.html" %}

{% block header %}
    <title>Dictionary</title>
{% endblock %}

{% block body %}
    <div>
        <input id="word" type="text" >
        <span id="button" style="color: #fff; border: 1px solid #eeeeee; padding: 10px; background-color: blue;">Search</span>
        <div style="padding: 15px;">
            <span>Result: </span>
            <span id="result"></span>
        </div>
        {% for word in words %}
        <div>
            <span>{{ word[1] }}: </span>
            <span> {{ word[2] }}</span>
        </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#button').click(function(e) {
                var word = $('#word').val();
                $.ajax({
                    url: '/dict/' + word,
                    method: 'GET'
                }).done(function(response) {
                    $("#result").text(response.word);
                });
            });
        });
    </script>
{% endblock %}
