{% extends "layout.html" %}

{% block header %}
    <title>Dictionary</title>
{% endblock %}

{% block body %}
    <div>
        <div>
            <input name="word" placeholder="Please input"/>
            <button id="button">Search</button>
        </div>
        <div style="padding: 15px;">
            <span>Result: </span>
            <span>{{ word }}</span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {
            $('#button').click(function(e) {
                var word = $('#word').val();
                window.location.href = '/dict/' + word;
            });
        });
    </script>
{% endblock %}
