{% extends "layout.html" %}

{% block header %}
    <title>Dictionary</title>
{% endblock %}

{% block body %}
    <div>
        <div style="padding: 15px;">
            <p>Result: </p>
            {% for word in words %}
                <div>
                    <a href="/dict/word/{{word['word']}}">{{ word['word'] }}</a>
                    <span>: {{ word['value'] }}</span>
                </div>
            {% endfor %}
        </div>
        <span id="next-button">Next</span>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        var page = {{ page }};
        $(document).ready(function() {
            $('#next-button').click(function() {
                page += 1;
                window.location.href = "/dict/list?page="+page;
            });
        });
    </script>
{% endblock %}
