{% extends "layout.html" %}

{% block header %}
    <title>Dictionary</title>
{% endblock %}

{% block body %}
    <div>
        <form>
            <input name="word" placeholder="Please input"/>
            <button>Search</button>
        </form>
        <div style="padding: 15px;">
            <span>Result: </span>
            <span>{{ word }}</span>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function() {

        });
    </script>
{% endblock %}
